.container {
  margin-inline: auto;
  width: $container-width;
}

.sm-fluid-container {
  width: 100%;
}

.flex {
  display: flex;
  flex-direction: var(--direction, row);
  align-items: var(--align-items, center);
  justify-content: var(--justify-content, start);
  gap: var(--gap, 1rem);
}

@include mq {
  .container {
    display: grid;
    width: min(100%, 1440px);

    grid-template-columns: minmax(1rem, 5vw) repeat(12, 1fr) minmax(1rem, 5vw);
    overflow-inline: hidden;
  }

  .content_header {
    grid-column: 2 / -2;
  }

  .box-img-top {
    grid-column: span 3;
  }

  .box-icon-top {
    grid-column: span 3;
  }

  // First article after header
  .content_header + article {
    grid-column: 2 / span 3;
  }
}
