.container {
  margin-inline: auto;
  width: $container-width;
  padding-inline: $sm-padding-inline;
}

.flex {
  display: flex;
  flex-direction: var(--direction, row);
  align-items: var(--align-items, center);
  justify-content: var(--justify-content, start);
  gap: var(--gap, 1rem);
}

.flow {
  > * + * {
    margin-top: var(--flow, 1rem);
  }
}

@include mq($md-bp) {
  .container {
    display: grid;
    width: min(100%, 1440px);
    padding: 0;

    grid-template-columns: minmax(1rem, 5vw) repeat(12, 1fr) minmax(1rem, 5vw);
    overflow-inline: hidden;
  }

  .content_header {
    grid-column: 2 / 11;
  }
}
