//## Colors

//### Primary

$Dark-Blue: hsl(233, 26%, 24%);
$Lime-Green: hsl(136, 65%, 51%);
$Bright-Cyan: hsl(192, 70%, 51%);
$Active-color: lighten(
  $color:
    mix(
      $color1: $Lime-Green,
      $color2: $Bright-Cyan,
      $weight: 40%,
    ),
  $amount: 10%,
);

//### Neutral

$Grayish-Blue: hsl(233, 8%, 62%);
$Light-Grayish-Blue: hsl(220, 16%, 96%);
$Very-Light-Gray: hsl(0, 0%, 98%);
$White: hsl(0, 0%, 100%);

$container-width: max(100%, 325px);
$sm-padding-inline: max(6vw, 25px);

$border-radius: 5px;

$md-bp: 576px;
$lg-bp: 992px;

@mixin mq($bp) {
  @media (min-width: $bp) {
    @content;
  }
}
