.icon-boxes {
  padding-block: 3rem;
  text-align: center;

  background-color: $Light-Grayish-Blue;

  p {
    font-size: var(--fs-400);
    line-height: 1.6;
  }

  img {
    margin-inline: auto;
    margin-bottom: 1.5rem;
  }

  .box-icon-top {
    margin-bottom: 2rem;

    &:first-of-type {
      margin-top: 2.5rem;
    }
  }
}
.img-boxes {
  background-color: $Very-Light-Gray;

  header {
    p {
      font-size: 0.575rem;
    }
    h3 {
      font-size: 0.9rem;
    }
  }

  p {
    font-size: 0.725rem;
  }
}
