.icon-boxes {
  padding-block: 3rem;
  text-align: center;

  background-color: $Light-Grayish-Blue;

  p {
    font-size: var(--fs-500);
    line-height: 1.6;
  }

  .flex {
    margin-top: 2.75rem;
  }
}

.box-icon-top {
  margin-bottom: 2rem;

  img {
    margin-inline: auto;
    margin-bottom: 1.5rem;
  }

  p {
    font-size: var(--fs-400);
  }
}

.img-boxes {
  padding-top: 5rem;
  padding-bottom: 3rem;
  background-color: $Very-Light-Gray;

  h2 {
    text-align: center;
  }
}

.box-img-top {
  margin-top: 1rem;
  padding-bottom: 2rem;
  border-radius: $border-radius;

  background-color: $White;

  overflow: hidden;

  img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }

  header {
    margin-top: 1.25rem;
    p {
      font-size: 0.575rem;
    }
    h3 {
      margin-block: 0.5rem;
      font-size: 0.91rem;
    }
  }

  p {
    font-size: 0.7rem;
  }

  > header,
  > p {
    padding-inline: 1.5rem;
  }

  .flex {
    margin-top: 1.75rem;
  }
}

.icon-boxes,
.img-boxes {
  --direction: column;
  --gap: 0;
}

@include mq($md-bp) {
  .icon-boxes {
    padding-top: 6rem;
    padding-bottom: 2.5rem;
    text-align: left;

    > section {
      max-width: 65ch;
    }

    .flex {
      margin-top: 3.75rem;
    }
  }

  .img-boxes {
    h2 {
      text-align: left;
    }
  }

  .box-icon-top {
    img {
      margin: 0 0 2.5rem;
    }
  }

  .icon-boxes,
  .img-boxes {
    --direction: row;
    --gap: 0rem;
    --justify-content: space-between;
    --align-items: stretch;

    .flex {
      grid-column: 2 / -2;

      flex-wrap: wrap;

      > * {
        flex-basis: 49%;
      }
    }
  }
}

@include mq($lg-bp) {
  .icon-boxes,
  .img-boxes {
    --gap: 2rem;

    .flex {
      flex-wrap: nowrap;
    }
  }
}
