.icon-boxes {
  padding-block: 3rem;
  text-align: center;

  background-color: $Light-Grayish-Blue;

  p {
    font-size: var(--fs-400);
    line-height: 1.6;
  }

  img {
    margin-inline: auto;
    margin-bottom: 1.5rem;
  }

  .box-icon-top {
    margin-bottom: 2rem;

    &:first-of-type {
      margin-top: 2.5rem;
    }
  }
}

.img-boxes {
  padding-top: 5rem;
  padding-bottom: 3rem;
  background-color: $Very-Light-Gray;

  h2 {
    text-align: center;
  }

  .box-img-top {
    &:first-of-type {
      margin-top: 1.75rem;
    }

    margin-top: 1rem;
    padding-bottom: 2rem;
    border-radius: $border-radius;

    background-color: $White;

    overflow: hidden;

    img {
      height: 200px;
      width: 100%;
      object-fit: cover;
    }

    header {
      margin-top: 1.25rem;
      p {
        font-size: 0.575rem;
      }
      h3 {
        margin-block: 0.5rem;
        font-size: 0.91rem;
      }
    }

    p {
      font-size: 0.7rem;
    }

    > header,
    > p {
      padding-inline: 1.5rem;
    }
  }
}
