@import 'nav';
@import 'hero';
@import 'boxes';
@import 'footer';

.btn {
  border: none;
  background-color: transparent;

  cursor: pointer;
}

.btn-primary {
  padding: 0.6rem 1.85rem;
  border-radius: 25px;

  font-size: 0.8rem;
  color: $White;

  background-image: linear-gradient(to left, $Bright-Cyan, $Lime-Green);

  &:hover,
  &:focus {
    background-image: linear-gradient(
      to left,
      lighten($color: $Bright-Cyan, $amount: 15%),
      lighten($color: $Lime-Green, $amount: 15%)
    );
  }
}
