.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 3rem;

  background-color: $Dark-Blue;

  &-nav {
    --direction: column;
    --gap: 0;

    ul {
      padding: 0;
      margin: 0;

      list-style: none;

      text-align: center;
    }

    li {
      margin-top: 0.55rem;
    }

    &_link {
      font-size: var(--fs-300);
      color: rgba($color: $White, $alpha: 0.7);
      text-decoration: none;
    }
  }

  &_copyright {
    --direction: column;
    --align-items: center;
    font-size: var(--fs-300);
  }
}

@include mq($md-bp) {
  .footer {
    --flow: 2rem;

    &-nav {
      --direction: row;
      --gap: 2rem;

      li {
        margin: 0;
        &::nth-child(2) {
          margin-block: 0.55rem;
        }
      }
    }
  }
}

@include mq($lg-bp) {
  .footer {
    --flow: 0rem;
    position: relative;
    display: grid;

    &_logo {
      grid-row: 1;
      grid-column: 2 / span 3;
      align-self: start;
    }

    &-nav {
      grid-column: 5 / 9;
      align-self: center;

      --justify-content: space-between;

      ul {
        text-align: left;
      }
    }

    &_copyright {
      --direction: column;
      --align-items: end;

      grid-column: 9 / -2;
      justify-self: end;
      align-self: center;
    }
  }

  .social-icons {
    grid-row: 1;
    grid-column: 2 / span 3;
    align-self: end;
  }

  .attribution {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
