.hero {
  padding: 0;

  &_text-content {
    width: $container-width;
    margin-top: 1rem;
    margin-inline: auto;
    padding-inline: $sm-padding-inline;

    text-align: center;

    p {
      font-size: var(--fs-400);
    }
  }

  &_img {
    &::after {
      content: '';
      //position: absolute;
      display: block;

      width: 100%;
      height: 300px;
      left: 0;
      top: 0;
      z-index: 1;
      overflow-x: hidden;

      background-image: url('../images/image-mockups.png'),
        url('../images/bg-intro-mobile.svg');
      background-repeat: no-repeat;
      background-position: center -155px, 20px -60px;
      background-size: cover;
    }
  }

  .btn {
    margin: 2rem 0 4.5rem;
  }
}

@include mq($md-bp) {
  .hero {
    background-color: $Very-Light-Gray;

    &_text-content {
      grid-column: 2 / 8;
      width: 100%;

      margin-block: 9rem;
      padding: 0;
    }

    &_img {
      position: relative;
      grid-column: 8 / end;

      &::after {
        position: absolute;
        height: 750px;

        background-image: url('../images/image-mockups.png'),
          url('../images/bg-intro-desktop.svg');
        background-repeat: no-repeat;
        background-position: 120px -110px, -50px -200px;
        background-size: cover;
      }
    }
  }
}
