.hero {
  padding: 0;

  &_text-content {
    width: $container-width;
    margin-top: 1rem;
    margin-inline: auto;
    padding-inline: $sm-padding-inline;

    text-align: center;

    p {
      font-size: var(--fs-500);
    }
  }

  &_img {
    &::after {
      content: '';
      //position: absolute;
      display: block;

      width: 100%;
      height: 300px;
      left: 0;
      top: 0;
      z-index: 1;
      overflow-x: hidden;

      background-image: url('../images/image-mockups.png'),
        url('../images/bg-intro-mobile.svg');
      background-repeat: no-repeat;
      background-position: center -155px, 20px -60px;
      background-size: cover;
    }
  }

  .btn {
    margin: 2rem 0 4.5rem;
  }
}

@include mq($md-bp) {
  .hero {
    background-color: $Very-Light-Gray;

    &_text-content {
      grid-column: 2 / 8;

      width: min(100%, 42ch);
      margin: 9rem 0 5rem;
      padding: 0;

      text-align: left;
    }

    &_img {
      position: relative;
      grid-column: 8 / end;

      &::after {
        position: absolute;
        height: 950px;

        background-image: url('../images/image-mockups.png'),
          url('../images/bg-intro-desktop.svg');
        background-repeat: no-repeat;
        background-position: 80px -120px, -50px -230px;
        background-size: cover;
      }
    }
  }
}
