.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65px;

  background-color: white;

  &_list {
    display: none;
  }

  &_link {
    font-size: var(--fs-500);

    text-decoration: none;
    color: $Dark-Blue;
  }

  &_btn {
    display: none;
  }

  &_toggle {
    width: 25px;
    height: 25px;
    padding: 0;
    border: none;

    background-color: transparent;

    background-image: url('../images/icon-hamburger.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &.expanded {
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 65px;
      right: 0;
      bottom: 0;

      background-image: linear-gradient(
        rgba($Dark-Blue, 90%),
        rgba($Dark-Blue, 15%)
      );
    }
    .main-nav {
      &_toggle {
        width: 19px;
        height: 19px;

        background-image: url('../images/icon-close.svg');
      }
      &_list {
        position: absolute;
        left: 50vw;
        transform: translateX(-50%);
        top: 85px;
        width: 325px;
        z-index: 2;
        padding-block: 1.5rem;
        border-radius: $border-radius;

        display: flex;
        --gap: 1rem;
        --direction: column;
        --align-items: center;

        background-color: $White;
      }
    }
  }
}

@include mq($md-bp) {
  .main-nav {
    padding-inline: $sm-padding-inline;
  }
}

@include mq($lg-bp) {
  .main-nav {
    display: grid;
    height: 80px;
    padding: 0;

    &_logo {
      grid-column: 2 / 4;
    }

    &_list {
      display: flex;
      --gap: 1.75rem;
      --direction: row;
      grid-column: 4 / 11;
      justify-self: center;
      padding: 0;
    }

    &_link {
      color: $Grayish-Blue;
      font-size: var(--fs-300);
    }

    &_btn {
      grid-column: 11 / 14;
      display: block;
      justify-self: end;
    }

    &_toggle {
      display: none;
    }
  }
}
